<p id="notice"><%= notice %></p>

<!-- <h1 class="text-center">Restaurants</h1> -->

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-3">
    <div class="cocktail-card"   style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= photo_url_for(cocktail) %>')">
        <div class="card-name">
          <h2><%= cocktail.name %></h2>
        </div>
        <div class="card-features list-inline">
          <%= link_to 'Edit', edit_cocktail_path(cocktail), class: "features-style" %> |
          <%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' }, class: "features-style" %>
        </div>
        <%= link_to '', cocktail, class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<br>
