<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar-wagon">
      <!-- Logo -->
      <%= link_to 'COCKTAIL HOUSE', cocktails_path, class: 'navbar-logo' %>

      <!-- Search form -->
      <form action="/cocktails" method="get" class="navbar-wagon-search">
        <input type="text" name="query" class="navbar-wagon-search-input" placeholder="Search for a place">
        <button type="submit" class="navbar-wagon-search-btn" >
          <i class="fa fa-search"></i>
        </button>
      </form>


      <!-- Button (call-to-action) -->
      <%= link_to 'New cocktail', new_cocktail_path(@article), class: "navbar-wagon-item navbar-wagon-button btn" %>
    </div>

    <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('./assets/images/images.jpeg');">
      <div class="banner-content">
        <h1>COCKTAILIZE YOUR LIFE</h1>
        <p>Revisit amazing cocktails from all over the worl.</p>
        <a class="btn btn-primary btn-lg"><i class="fa fa-glass"></i>  Let's go </a>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
